* {
  font-family: Graphik,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.everything {
  display: grid;
  height: 100vh;
  place-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 10% 1fr;
  gap: 1px 1px;
  grid-template-areas: "timer-and-buttons" "scorer";
  padding: 30px;
}

.buttons-container {
  text-align: center;
  margin-top: 10px;
}

.timer-and-buttons {
  grid-area: timer-and-buttons;
  display: flex;
  align-items: center;
}

.scorer {
  grid-area: scorer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  gap: 1px 1px;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  grid-template-areas: "column1 column2 column3";
}

.column1 {
  grid-area: column1;
  height: 100%;
}

.column2 {
  grid-area: column2;
  height: 100%;
}

.column3 {
  grid-area: column3;
  height: 100%;
}

.card-body {
  padding: 10px;
}

.card-body p {
  color: white;
  margin: 0;
}

.playpause label {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  outline: none;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  outline: none;
  border-width: 37px 0 37px 60px;

}
.playpause input[type="checkbox"] {
  position: absolute;
  left: -9999px;
  outline: none;
}
.playpause input[type="checkbox"]:checked + label {
  border-style: double;
  outline: none;
  border-width: 0px 0 0px 60px;
}
.playpause input[type="checkbox"]:focus + label {
  outline: none;
}

.name, .points {
  background-color: #59BAD9;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px;
  font-size: 20px;
  margin:0;
}

.points {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: center;
}

.card {
  border-radius: 20px;
  background-color: #848484;
  margin: 10px;
}

.base-timer {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 20px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.button {
  background: white;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  width: 100px;
  transition: 0.4s;
  color: black;
  border: 2px solid #e7e7e7;
  font-weight: 600;
}

.button1 {
  color: black;
  border: 2px solid #e7e7e7;
}

.button:active,
.button:focus,
.button:visited {
  outline: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #59BAD9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.footer p {
  font-weight: 600;
  margin: 15px 20px;
  font-size: 20px;
}

.button:hover {
  background-color: #e6f9ff;
}

.button:active {
  background-color: #59BAD9;
  color: white;
}
