<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <title>FLL RePLAY Scorer</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/ab4ab530af.js" crossorigin="anonymous"></script>
        <meta name="theme-color" content="#59BAD9">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Practice your FIRST LEGO League runs for the 2020-21 RePLAY Season. With timers to time yourself and interactive forms to score yourself, this site is exactly what you need to excel.">
        <meta name="google-site -verification" content="M6iGA7WMjz1W1serbpjOLNPm9qj07ijcoKGSp2HFdDA" />
        <meta property="og:title" content="FLL RePLAY Scorer - All the FIRST Lego League tools to excel."/>
        <meta property="og:description" content="Practice your FIRST LEGO League runs for the 2020-21 RePLAY Season. With timers to time yourself and interactive forms to score yourself, this site is exactly what you need to excel."/>
        <link rel="canonical" href="https://scorerfll.web.app/">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176264482-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-176264482-1');
        </script>
        <style>

            @font-face {
                font-family: 'GT-Walsheim-Pro';
                src: url('/static/GT-Walsheim-Pro-Black.woff2') format('woff2');
                font-weight: 800;
                font-style: normal;
            }

            @font-face {
                font-family: 'GT-Walsheim-Pro';
                src: url('/static/GT-Walsheim-Pro-Bold.woff2') format('woff2');
                font-weight: 600;
                font-style: normal;
            }

            @font-face {
                font-family: 'GT-Walsheim-Pro';
                src: url('/static/GT-Walsheim-Pro-Regular.woff2') format('woff2');
                font-weight: normal;
                font-style: normal;
            }

            * {
                font-family: "GT-Walsheim-Pro",Graphik,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                line-height: 1.15em;
            }

            .goog-te-gadget .goog-te-combo {
                font-family: "GT-Walsheim-Pro",Graphik,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            }

            .goog-logo-link {
                font-weight: normal;
            }

            body {
                margin: 0;
            }

            html {
                scroll-behavior: smooth;
                scrollbar-color: #59BAD9 #848484;
            }

            .everything {
                display: grid;
                height: 100vh;
                place-items: center;
                grid-template-columns: 100%;
                grid-template-rows: 100px auto 1fr;
                gap: 1px 1px;
                grid-template-areas: "timer-and-buttons" "title" "scorer";
                padding: 0 15px;
            }

            .title {
                text-align: center;
                grid-area: title;
                margin: 15px 0 5px 0;
            }

            .title h1 {
                margin: 0;
                font-size: 40px;
                font-weight: 800;
            }

            .buttons-container {
                text-align: center;
                margin: 6px 0;
            }

            .timer-and-buttons {
                grid-area: timer-and-buttons;
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
            }

            .timer {
                display: flex;
                align-items: center;
            }

            .stopwatch {
                display: flex;
                align-items: center;
                height: 100px;
            }

            .scorer {
                grid-area: scorer;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 100%;
                width: 100%;
                grid-template-areas: "column1 column2 column3";
            }

            .column1 {
                grid-area: column1;
                height: 100%;
            }

            .column2 {
                grid-area: column2;
                height: 100%;
            }

            .column3 {
                grid-area: column3;
                height: 100%;
            }

            .card-body {
                padding: 8px;
            }

            .card-body p {
                color: white;
                margin: 0;
            }

            .playpause label {
                display: block;
                box-sizing: border-box;
                width: 0;
                height: 74px;
                outline: none;
                border-color: transparent transparent transparent black;
                transition: 400ms all ease;
                cursor: pointer;
                border-style: solid;
                outline: none;
                border-width: 37px 0 37px 60px;
            }

            .playpause label:hover {
                border-color: transparent transparent transparent #59BAD9;
            }

            .playpause label:active {
                transition: 100ms all ease;
            }

            .playpause input[type="checkbox"] {
                position: absolute;
                left: -9999px;
                outline: none;
            }

            .playpause input[type="checkbox"]:checked + label {
                border-style: double;
                outline: none;
                border-width: 0px 0 0px 60px;
            }

            .playpause input[type="checkbox"]:focus + label {
                outline: none;
            }

            .stopwatch-playpause label {
                display: block;
                box-sizing: border-box;
                width: 0;
                height: 74px;
                outline: none;
                border-color: transparent transparent transparent black;
                transition: 400ms all ease;
                cursor: pointer;
                border-style: solid;
                outline: none;
                border-width: 37px 0 37px 60px;
            }

            .stopwatch-playpause label:hover {
                border-color: transparent transparent transparent #59BAD9;
            }

            .stopwatch-playpause label:active {
                transition: 100ms all ease;
            }

            .stopwatch-playpause input[type="checkbox"] {
                position: absolute;
                left: -9999px;
                outline: none;
            }

            .stopwatch-playpause input[type="checkbox"]:checked + label {
                border-style: double;
                outline: none;
                border-width: 0px 0 0px 60px;
            }

            .stopwatch-playpause input[type="checkbox"]:focus + label {
                outline: none;
            }

            .name {
                background-color: #59BAD9;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                padding: 8px 10px;
                font-size: 20px;
                margin: 0;
                color: white;
            }

            .card {
                border-radius: 20px;
                background-color: #848484;
                margin: 10px;
            }

            .base-timer {
                position: relative;
                width: 90px;
                height: 90px;
                margin: 0 20px;
            }

            .base-timer__svg {
                transform: scaleX(-1);
            }

            .base-timer__circle {
                fill: none;
                stroke: none;
            }

            .base-timer__path-elapsed {
                stroke-width: 10px;
                stroke: grey;
            }

            .base-timer__path-remaining {
                stroke-width: 10px;
                stroke-linecap: round;
                transform: rotate(90deg);
                transform-origin: center;
                transition: 1s linear all;
                fill-rule: nonzero;
                stroke: currentColor;
            }

            .base-timer__path-remaining.green {
                color: rgb(65, 184, 131);
            }

            .base-timer__path-remaining.orange {
                color: orange;
            }

            .base-timer__path-remaining.red {
                color: red;
            }

            .base-timer__label {
                position: absolute;
                width: 90px;
                height: 90px;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 28px;
            }

            .button {
                background: white;
                color: white;
                padding: 6px 8px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 12px;
                width: 80px;
                transition: 0.4s;
                color: black;
                border: 2px solid #e7e7e7;
                font-weight: 600;
            }

            .button:disabled {
                cursor: not-allowed;
                background-color: #e3e3e3;
            }

            .button:disabled:hover {
                background-color: #e3e3e3;
            }

            .button1 {
                color: black;
                border: 2px solid #e7e7e7;
            }

            .button:active, .button:focus, .button:visited {
                outline: none;
            }

            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: #CFDE9E;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6px 0;
            }

            .footer p {
                font-weight: 600;
                margin: 0 20px;
                font-size: 20px;
            }

            .button:hover {
                background-color: #e6f9ff;
            }

            .button:active {
                background-color: #59BAD9;
                color: white;
            }

            .icon {
                font-size: 74px;
                margin: 0 24px;
                cursor: pointer;
                transition: 0.4s;
            }

            .icon:hover {
                color: #59BAD9;
            }

            select {
                padding: 6px 8px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 12px;
                width: 200px;
                transition: 0.4s;
                color: black;
                border: 2px solid #e7e7e7;
                font-weight: 600;
                outline: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: url(https://cdn.iconscout.com/icon/free/png-256/keyboard-down-arrow-1780093-1518654.png) 96% / 15% no-repeat white;
                text-align: left;
            }

            input[type=range] {
                height: 41px;
                -webkit-appearance: none;
                margin: 8px 0;
                margin-left: 8px;
                transition: 0.4s;
                background-color: transparent;
                flex-grow: 2;
            }

            input[type=range]:disabled {
                cursor: not-allowed;
            }

            input[type=range]:focus {
                outline: none;
            }

            input[type=range]::-webkit-slider-runnable-track {
                height: 15px;
                cursor: pointer;
                transition: 0.2s;
                box-shadow: 0px 0px 0px #000000;
                background: #59BAD9;
                border-radius: 5px;
                border: 0px solid #000000;
            }

            input[type=range]:disabled::-webkit-slider-runnable-track {
                cursor: not-allowed;
                opacity: 0.75;
            }

            input[type=range]::-webkit-slider-thumb {
                box-shadow: 0px 0px 0px #000000;
                border: 0px solid #000000;
                height: 35px;
                width: 20px;
                border-radius: 5px;
                background: #CFDE9E;
                cursor: pointer;
                -webkit-appearance: none;
                margin-top: -10px;
            }

            input[type=range]:disabled::-webkit-slider-thumb {
                cursor: not-allowed;
            }

            input[type=range]:focus::-webkit-slider-runnable-track {
                background: #59BAD9;
            }

            input[type=range]::-moz-range-track {
                height: 15px;
                cursor: pointer;
                transition: 0.2s;
                box-shadow: 0px 0px 0px #000000;
                background: #59BAD9;
                border-radius: 5px;
                border: 0px solid #000000;
            }

            input[type=range]:disabled::-moz-range-track {
                cursor: not-allowed;
                background: #59BAD973;
            }

            input[type=range]::-moz-range-thumb {
                box-shadow: 0px 0px 0px #000000;
                border: 0px solid #000000;
                height: 35px;
                width: 20px;
                border-radius: 5px;
                background: #CFDE9E;
                cursor: pointer;
            }

            input[type=range]:disabled::-moz-range-thumb {
                cursor: not-allowed;
            }

            input[type=range]::-ms-track {
                height: 15px;
                cursor: pointer;
                transition: 0.2s;
                background: transparent;
                border-color: transparent;
                color: transparent;
            }

            input[type=range]:disabled::-ms-track {
                cursor: not-allowed;
            }

            input[type=range]::-ms-fill-lower {
                background: #59BAD9;
                border: 0px solid #000000;
                border-radius: 10px;
                box-shadow: 0px 0px 0px #000000;
            }

            input[type=range]:disabled::-ms-fill-lower , input[type=range]:disabled::-ms-fill-upper {
                opacity: 0.75;
            }

            input[type=range]::-ms-fill-upper {
                background: #59BAD9;
                border: 0px solid #000000;
                border-radius: 10px;
                box-shadow: 0px 0px 0px #000000;
            }

            input[type=range]::-ms-thumb {
                margin-top: 1px;
                box-shadow: 0px 0px 0px #000000;
                border: 0px solid #000000;
                height: 35px;
                width: 20px;
                border-radius: 5px;
                background: #CFDE9E;
                cursor: pointer;
            }

            input[type=range]:disabled::-ms-thumb {
                cursor: not-allowed;
            }

            input[type=range]:focus::-ms-fill-lower {
                background: #59BAD9;
            }

            input[type=range]:focus::-ms-fill-upper {
                background: #59BAD9;
            }

            .slidecontainer input[type=number] {
                background: white;
                color: white;
                padding: 6px 8px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 12px;
                width: 40px;
                transition: 0.4s;
                color: black;
                border: 2px solid #e7e7e7;
                font-weight: 600;
            }

            .slidecontainer input[type=number]:disabled {
                cursor: not-allowed;
                background-color: #e3e3e3;
            }

            .slidecontainer {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            input[type=number]::-webkit-inner-spin-button {
                opacity: 1;
            }

            /* width */
            ::-webkit-scrollbar {
                width: 30px;
                cursor: pointer;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                background: #848484;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #59BAD9;
            }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #5BB7D2;
            }

            #time {
                font-family: Courier, monospace;
                font-size: 40px;
            }

            .bottomText {
                margin: 0.3em 10em;
            }

            .time-headers {
                font-size: 36px;
            }

            @media only screen and (max-width: 1000px) {
                .scorer {
                    grid-template-columns: 1fr;
                    grid-template-rows: auto auto auto;
                    grid-template-areas: "column1" "column2" "column3";
                }

                .timer-and-buttons {
                    flex-direction: column
                }

                .everything {
                    grid-template-rows: 225px 1fr;
                }

                .timer h1, .stopwatch h1 {
                    display: none;
                }

                #time {
                    display: initial;
                }

                .everything {
                    padding: 0;
                }
                .bottomText {
                    margin: 0.3em 0.3em;
                }
            }
        </style>
    </head>
    <body>
        <div class="everything">
            <div class="timer-and-buttons">
                <div class="timer">
                    <h2 class="time-headers">Timer</h2>
                    <div id="app"></div>
                    <div class="playpause">
                        <input type="checkbox" value="None" id="playpause" onchange="playpause()" name="check"/>
                        <label for="playpause"></label>
                    </div>
                    <i onclick="resetTimer()" class="fas fa-redo-alt icon"></i>
                </div>
                <div class="stopwatch">
                    <h2 class="time-headers">Stopwatch</h2>
                    <h2 id="time" style="margin: 0 20px;">0:00</h2>
                    <div class="stopwatch-playpause">
                        <input type="checkbox" value="None" id="playpause-stopwatch" onchange="startstop()" name="check"/>
                        <label for="playpause-stopwatch"></label>
                    </div>
                    <i class="fas fa-redo-alt icon" onclick='
              timeElapsed = -1;
              tick()'></i>
                </div>
                <script>
                    var timeElapsed = 0;
                    var timerID = -1;
                    var checked = false;

                    function startstop() {
                        if (checked) {
                            stop()
                        } else {
                            start()
                            checked = true;
                        }
                    }

                    function tick() {
                        timeElapsed++
                        document.getElementById("time").innerHTML = formatTime(timeElapsed);
                    }

                    function formatTime(time) {
                        const minutes = Math.floor(time / 60);
                        let seconds = time % 60;
                        let tenths = time % 10;

                        if (seconds < 10) {
                            seconds = `0${seconds}`;
                        }

                        return `${minutes}:${seconds}`;
                    }

                    function start() {
                        if (timerID == -1) {
                            timerID = setInterval(tick, 1000);
                        }
                    }

                    function stop() {
                        if (timerID != -1) {
                            clearInterval(timerID)
                            timerID = -1
                        }
                    }
                </script>
            </div>
            <div class="title"><h1>FLL RePLAY Scorer</h1></div>
            <div class="scorer">

                <div class="column1">
                    <div class="mission card">
                        <h3 id="m00" class="name">M00 - ADVANTAGE: 0</h3>
                        <div class="card-body">
                            <p>Does all team equipment fit in the small inspection space?</p>
                            <div class="buttons-container">
                                <input type="text" id="ans01" class="answer" onfocus="change00()" hidden/>
                                <input type="button" id="y01" class="button button1" value="Yes"/>
                                <input type="button" id="n01" class="button button1" value="No"/>
                            </div>
                        </div>
                    </div>
                    <div class="mission card">
                        <h3 class="name" id="m01">M01 - INNOVATION PROJECT: 0</h3>
                        <div class="card-body">
                            <p>Is any part of the model touching either the RePLAY logo or the gray area around the bench?</p>
                            <div class="buttons-container">
                                <input type="text" id="ans02" class="answer" hidden/>
                                <input type="button" id="y02" class="button button1" value="Yes"/>
                                <input type="button" id="n02" class="button button1" value="No"/>
                            </div>
                        </div>
                    </div>
                    <div class="mission card">
                        <h3 class="name" id="m02">M02 - STEP COUNTER: 0</h3>
                        <div class="card-body">
                            <p>The bottom of the pointer is on</p>
                            <div class="buttons-container">
                                <select id="d03">
                                    <option value="none" selected>None</option>
                                    <option value="magenta">Magenta</option>
                                    <option value="yellow">Yellow</option>
                                    <option value="blue">Blue</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mission card">
                        <h3 class="name" id="m03">M03 - SLIDE: 0</h3>
                        <div class="card-body">
                            <p>First person off the slide</p>
                            <div class="buttons-container">
                                <input type="text" id="ans04" class="answer" hidden/>
                                <input type="button" id="y04" class="button button1" value="Yes"/>
                                <input type="button" id="n04" class="button button1" value="No"/>
                            </div>
                            <p>Second person off the slide</p>
                            <div class="buttons-container">
                                <input type="text" id="ans05" class="answer" hidden/>
                                <input type="button" disabled id="y05" class="button button1" value="Yes"/>
                                <input type="button" disabled id="n05" class="button button1" value="No"/>
                            </div>
                            <p>If a person is returned to home</p>
                            <div class="buttons-container">
                                <input type="text" id="ans06" class="answer" hidden/>
                                <input type="button" disabled id="y06" class="button button1" value="Yes"/>
                                <input type="button" disabled id="n06" class="button button1" value="No"/>
                            </div>
                            <p>If a person is on the heavy tire</p>
                            <div class="buttons-container">
                                <input type="text" id="ans07" class="answer" hidden/>
                                <input type="button" disabled id="y07" class="button button1" value="Yes"/>
                                <input type="button" disabled id="n07" class="button button1" value="No"/>
                            </div>
                        </div>
                    </div>
                    <div class="mission card">
                        <h3 class="name" id="m04">M04 - BENCH: 0</h3>
                        <div class="card-body">
                            <p>Knocks down the bench</p>
                            <div class="buttons-container">
                                <input type="text" id="ans08" class="answer" hidden/>
                                <input type="button" id="y08" class="button button1" value="Yes"/>
                                <input type="button" id="n08" class="button button1" value="No"/>
                            </div>
                            <p>Takes off back rest</p>
                            <div class="buttons-container">
                                <input type="text" id="ans09" class="answer" hidden/>
                                <input type="button" id="y09" class="button button1" value="Yes"/>
                                <input type="button" id="n09" class="button button1" value="No"/>
                            </div>
                            <p>Cubes in hop scotch spaces</p>
                            <div class="slidecontainer">
                                <input type="number" min="0" max="4" value="0" disabled oninput="updateRangeInput(this)" id="x10">
                                <input type="range" min="0" max="4" value="0" disabled class="slider" oninput="updateTextInput(this)" id="i10">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column2">
                    <div class="mission card">
                        <h3 class="name" id="m05">M05 - BASKETBALL: 0</h3>
                        <div class="card-body">
                            <p>Cube inside the crate</p>
                            <div class="buttons-container">
                                <input type="text" id="ans11" class="answer" hidden/>
                                <input type="button" id="y11" class="button button1" value="Yes"/>
                                <input type="button" id="n11" class="button button1" value="No"/>
                            </div>
                            <p>Raises the crate</p>
                            <div class="buttons-container">
                                <select id="d12" onchange="change(this)">
                                    <option value="none" selected>None</option>
                                    <option value="middleHeight">Middle Height</option>
                                    <option value="topHeight">Top Height</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mission card">
                        <h3 class="name" id="m06">M06 - PULL-UP BAR: 0</h3>
                        <div class="card-body">
                            <p>Robot goes under the bar</p>
                            <div class="buttons-container">
                                <input type="text" id="ans13" class="answer" hidden/>
                                <input type="button" id="y13" class="button button1" value="Yes"/>
                                <input type="button" id="n13" class="button button1" value="No"/>
                            </div>
                            <p>Robot lifts itself at the end of the match</p>
                            <div class="buttons-container">
                                <input type="text" id="ans14" class="answer" hidden/>
                                <input type="button" id="y14" class="button button1" value="Yes"/>
                                <input type="button" id="n14" class="button button1" value="No"/>
                            </div>
                        </div>
                    </div>
                    <div class="mission card">
                        <h3 class="name" id="m07">M07 - ROBOT DANCE: 0</h3>
                        <div class="card-body">
                            <p>Dancing on the dance floor at the end of the match</p>
                            <div class="buttons-container">
                                <input type="text" id="ans15" class="answer" hidden/>
                                <input type="button" id="y15" class="button button1" value="Yes"/>
                                <input type="button" id="n15" class="button button1" value="No"/>
                            </div>
                        </div>
                    </div>
                    <div class="mission card">
                        <h3 class="name" id="m08">M08 - BOCCIA: 0</h3>
                        <div class="card-body">
                            <p>Both teams slide one cube to the other team's field and color match</p>
                            <div class="buttons-container">
                                <input type="text" id="ans16" class="answer" hidden/>
                                <input type="button" id="y16" class="button button1" value="Yes"/>
                                <input type="button" id="n16" class="button button1" value="No"/>
                            </div>
                            <p>Any other color cubes in your target</p>
                            <div class="slidecontainer">
                                <input type='number' min="0" max="18" value="0" oninput="updateRangeInput(this)" id="x17">
                                <input type="range" min="0" max="18" value="0" class="slider" oninput="updateTextInput(this)" id="i17">
                            </div>
                            <p>At least one yellow cube completely in the target</p>
                            <div class="buttons-container">
                                <input type="text" id="ans18" class="answer" hidden/>
                                <input type="button" id="y18" disabled class="button button1" value="Yes"/>
                                <input type="button" id="n18" disabled class="button button1" value="No"/>
                            </div>
                        </div>
                    </div>
                    <div class="mission card">
                        <h3 class="name" id="m09">M09 - TIRE FLIP: 0</h3>
                        <div class="card-body">
                            <p>Flips the heavy tread tire white side up.</p>
                            <div class="buttons-container">
                                <input type="text" id="ans19" class="answer" hidden/>
                                <input type="button" id="y19" class="button button1" value="Yes"/>
                                <input type="button" id="n19" class="button button1" value="No"/>
                            </div>
                            <p>Flips the small blue tire white side up.</p>
                            <div class="buttons-container">
                                <input type="text" id="ans20" class="answer" hidden/>
                                <input type="button" id="y20" class="button button1" value="Yes"/>
                                <input type="button" id="n20" class="button button1" value="No"/>
                            </div>
                            <p>Tires that are in the circle:</p>
                            <div class="slidecontainer">
                              <input type='number' min="0" max="1" value="0" disabled oninput="updateRangeInput(this)" id="x22">
                              <input type="range" min="0" max="1" value="0" disabled class="slider" oninput="updateTextInput(this)" id="i22">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column3">
                    <div class="mission card">
                        <h3 class="name" id="m10">M10 - CELL PHONE: 0</h3>
                        <div class="card-body">
                            <p>Flips the cell phone white side up.</p>
                            <div class="buttons-container">
                                <input type="text" id="ans23" class="answer" hidden/>
                                <input type="button" id="y23" class="button button1" value="Yes"/>
                                <input type="button" id="n23" class="button button1" value="No"/>
                            </div>
                        </div>
                    </div>
                    <div class="mission card">
                        <h3 class="name" id="m11">M11 - TREADMILL: 0</h3>
                        <div class="card-body">
                            <p>Spins the rollers to a specific color</p>
                            <div class="buttons-container">
                                <select id="d24" onchange="change(this)">
                                    <option value="none" selected>None</option>
                                    <option value="gray">Gray</option>
                                    <option value="red">Red</option>
                                    <option value="orange">Orange</option>
                                    <option value="yellow">Yellow</option>
                                    <option value="green">Green</option>
                                    <option value="dark_green">Dark Green</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mission card">
                        <h3 class="name" id="m12">M12 - ROW MACHINE: 0</h3>
                        <div class="card-body">
                            <p>Moves the wheel out of the large circle</p>
                            <div class="buttons-container">
                                <input type="text" id="ans25" class="answer" hidden/>
                                <input type="button" id="y25" class="button button1" value="Yes"/>
                                <input type="button" id="n25" class="button button1" value="No"/>
                            </div>
                            <p>Moves the wheel into the smaller circle</p>
                            <div class="buttons-container">
                                <input type="text" id="ans26" class="answer" hidden/>
                                <input type="button" id="y26" class="button button1" value="Yes" disabled/>
                                <input type="button" id="n26" class="button button1" value="No" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="mission card">
                        <h3 class="name" id="m13">M13 - WEIGHT MACHINE: 0</h3>
                        <div class="card-body">
                            <p>Set the color before the match and pushes the lever down</p>
                            <div class="buttons-container">
                                <select id="d27" onchange="change(this)">
                                    <option value="none" selected>None</option>
                                    <option value="blue">Blue</option>
                                    <option value="magenta">Magenta</option>
                                    <option value="yellow">Yellow</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mission card">
                        <h3 class="name" id="m14">M14 - HEALTH UNITS: 0</h3>
                        <div class="card-body">
                            <p>How many health units are touching either the RePLAY logo or the gray area around the bench?</p>
                            <div class="slidecontainer">
                                <input type="number" min="0" max="8" value="0" oninput="updateRangeInput(this)" id="x28">
                                <input type="range" min="0" max="8" value="0" class="slider" oninput="updateTextInput(this)" id="i28">
                            </div>
                            <p>How many health units are looped over a pull-up bar post as shown – maximum of four – and touching no equipment?</p>
                            <div class="slidecontainer">
                                <input type="number" min="0" max="4" value="0" oninput="updateRangeInput(this)" id="x29">
                                <input type="range" min="0" max="4" value="0" class="slider" oninput="updateTextInput(this)" id="i29">
                            </div>
                        </div>
                    </div>
                    <div class="mission card">
                        <h3 class="name" id="m15">M15 - PRECISION TOKENS: 60</h3>
                        <div class="card-body">
                            <p>Precision token left after the match</p>
                            <div class="slidecontainer">
                                <input type="number" min="0" max="6" value="6" oninput="updateRangeInput(this)" id="x30">
                                <input type="range" min="0" max="6" value="6" class="slider" oninput="updateTextInput(this)" id="i30">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="margin: 0.3em 0; text-align:center;">
                Translate this page in
                your preferred language:
            </p>

            <div style="margin: 0 0 1em 0; text-align:center;" id="google_translate_element"></div>

            <script >
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement(
                        {pageLanguage: 'en'},
                        'google_translate_element'
                    );
                }
            </script>

            <script  src=
            "https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
            </script>

            <p style="margin: 0.3em 0; text-align:center;">
                Please report bugs, feedback, and tips to <a href="mailto:contact.quantumleapers@gmail.com">contact.quantumleapers@gmail.com</a> or at <a href="https://quantum-leapers.web.app/contact" target="_blank">our team's website</a>.
            </p>
            <p style="margin: 0.3em 0; text-align:center;">FLL RePlay Scorer v1.2 - Released August 14, 2020</p>
            <p style="margin-bottom: 70px;text-align:center;" class="bottomText">Designed and coded by Sathvik Malla and Mithil Patil, members of the Quantum Leapers, a FIRST Tech Challenge team. For more about them and the Quantum Leapers please visit <a href="https://quantum-leapers.web.app/" target="_blank">our team's website</a>.</p>
        </div>
        <div class="footer">
            <p id="points">Points: 0</p>
            <button onclick="reset()" class="button" id="reset">Reset</button>
        </div>
        <script>
            const FULL_DASH_ARRAY = 283;
            const WARNING_THRESHOLD = 40;
            const ALERT_THRESHOLD = 20;
            const INFO_THRESHOLD = 150;

            const COLOR_CODES = {
                info: {
                    color: "green",
                    threshold: INFO_THRESHOLD
                },
                warning: {
                    color: "orange",
                    threshold: WARNING_THRESHOLD
                },
                alert: {
                    color: "red",
                    threshold: ALERT_THRESHOLD
                }
            };

            var TIME_LIMIT = 150;
            let timePassed = 0;
            let timeLeft = TIME_LIMIT;
            let timerInterval = null;
            let remainingPathColor = COLOR_CODES.info.color;

            document.getElementById("app").innerHTML = `
      <div class="base-timer">
        <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <g class="base-timer__circle">
            <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
            <path
              id="base-timer-path-remaining"
              stroke-dasharray="283"
              class="base-timer__path-remaining ${remainingPathColor}"
              d="
                M 50, 50
                m -45, 0
                a 45,45 0 1,0 90,0
                a 45,45 0 1,0 -90,0
              "
            ></path>
          </g>
        </svg>
        <span id="base-timer-label" class="base-timer__label">${formatTime(timeLeft)}</span>
      </div>
      `;

            function onTimesUp() {
                clearInterval(timerInterval);
                document.getElementById('playpause').checked = false;
                flag = false;
            }

            function startTimer() {
                timerInterval = setInterval(()=>{
                    timePassed = timePassed += 1;
                    timeLeft = TIME_LIMIT - timePassed;
                    document.getElementById("base-timer-label").innerHTML = formatTime(timeLeft);
                    setCircleDasharray();
                    setRemainingPathColor(timeLeft);

                    if (timeLeft === 0) {
                        onTimesUp();
                    }
                }
                , 1000);
            }

            function formatTime(time) {
                const minutes = Math.floor(time / 60);
                let seconds = time % 60;

                if (seconds < 10) {
                    seconds = `0${seconds}`;
                }

                return `${minutes}:${seconds}`;
            }

            function setRemainingPathColor(timeLeft) {
                const {alert, warning, info} = COLOR_CODES;
                if (timeLeft <= alert.threshold) {
                    document.getElementById("base-timer-path-remaining").classList.remove(warning.color);
                    document.getElementById("base-timer-path-remaining").classList.add(alert.color);
                } else if (timeLeft <= warning.threshold) {
                    document.getElementById("base-timer-path-remaining").classList.remove(info.color);
                    document.getElementById("base-timer-path-remaining").classList.add(warning.color);
                } else if (timeLeft <= info.threshold) {
                    document.getElementById("base-timer-path-remaining").classList.remove(warning.color);
                    document.getElementById("base-timer-path-remaining").classList.remove(alert.color);
                    document.getElementById("base-timer-path-remaining").classList.add(info.color);
                }
            }

            function calculateTimeFraction() {
                const rawTimeFraction = timeLeft / TIME_LIMIT;
                return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);
            }

            function setCircleDasharray() {
                const circleDasharray = `${(calculateTimeFraction() * FULL_DASH_ARRAY).toFixed(0)} 283`;
                document.getElementById("base-timer-path-remaining").setAttribute("stroke-dasharray", circleDasharray);
            }

            var flag = false;
            function playpause() {
                if (flag) {
                    clearInterval(timerInterval);
                    flag = false;
                } else {
                    startTimer();
                    flag = true;
                }
            }

            $(".button1").click(function() {
                var otherButton = this.value == "Yes" ? "No" : "Yes";
                $(this).css({
                    'background': '#59BAD9',
                    'color': 'white'
                });
                $(this).siblings(`.button1[value=${otherButton}]`).css({
                    'background': 'white',
                    'color': 'black'
                });
                $(this).siblings(".answer").val(this.value);
                change(this)
            });

            function resetTimer() {
                timePassed = 0;
                timeLeft = TIME_LIMIT - timePassed;
                document.getElementById("base-timer-label").innerHTML = formatTime(timeLeft);
                setCircleDasharray();
                setRemainingPathColor(timeLeft);
            }

            $('#d03').change(function() {
                change(this);
            })

            var mission00 = 0;
            var mission01 = 0;
            var mission02 = 0;
            var mission03 = 0;
            var mission04 = 0;
            var mission04blocks = 0;
            var mission04p1 = 0;
            var mission04p2 = 0;
            var mission05 = 0;
            var mission05p1 = 0;
            var mission05p2 = 0;
            var mission06 = 0;
            var mission06p1 = 0;
            var mission06p2 = 0;
            var mission07 = 0;
            var mission08 = 0;
            var mission08p1 = 0;
            var mission08blocks = 0;
            var mission08p3 = 0;
            var mission09 = 0;
            var mission09p1 = 0;
            var mission09p2 = 0;
            var mission09p3 = 0;
            var mission10 = 0;
            var mission11 = 0;
            var mission12 = 0;
            var mission12p1 = 0;
            var mission12p2 = 0;
            var mission13 = 0;
            var mission14p1 = 0;
            var mission14p2 = 0;
            var totalUnits28 = 8;
            var totalUnits29 = 0;
            var mission15 = 60;

            var blocksUsedfor04 = 0;
            var blocksUsedfor08 = 0;
            var blocksUsed = 0;

            function updateBlocks(){
                blocksUsed = blocksUsedfor04 + blocksUsedfor08;
            }
            function updateTotalUnits(){
                totalUnits = totalUnits28 + totalUnits29;
            }
            function updateTotal() {
                var total;
                mission04 = mission04p1 + mission04p2 + mission04blocks;
                mission05 = mission05p1 + mission05p2;
                mission06 = mission06p1 + mission06p2;
                mission08 = mission08p1 + mission08blocks + mission08p3;
                mission09 = mission09p1 + mission09p2 + mission09p3;
                mission12 = mission12p1 + mission12p2;
                mission14 = mission14p1 + mission14p2;
                total = mission00 + mission01 + mission02 + mission03 + mission04 + mission05 + mission06 + mission07 + mission08 + mission09 + mission10 + mission11 + mission12 + mission13 + mission14 + mission15;
                document.getElementById('points').innerHTML = "Points: " + total;
            }

            var clicked05 = false;
            var clicked06 = false;
            var clicked07 = false;
            updateTotal();

            function change(element) {
                var id = element.id.substr(1, 2)
                console.log(id)
                if (id == 01) {
                    if ($('#ans01').val() == "Yes") {
                        mission00 = 25;
                        document.getElementById('m00').innerHTML = "M00 - ADVANTAGE: 25";
                        updateTotal();
                    } else {
                        document.getElementById('m00').innerHTML = "M00 - ADVANTAGE: 0";
                        mission00 = 0;
                        updateTotal();
                    }
                } else if (id == 02) {
                    if ($('#ans02').val() == "Yes") {
                        mission01 = 20;
                        document.getElementById('m01').innerHTML = "M01 - INNOVATION PROJECT: 20";
                        updateTotal();
                    } else {
                        document.getElementById('m01').innerHTML = "M01 - INNOVATION PROJECT: 0";
                        mission01 = 0;
                        updateTotal();
                    }
                } else if (id == 03) {
                    if (element.value == "magenta") {
                        mission02 = 10;
                        document.getElementById('m02').innerHTML = "M02 - STEP COUNTER: 10";
                        updateTotal();
                    } else if (element.value == "yellow") {
                        mission02 = 15;
                        document.getElementById('m02').innerHTML = "M02 - STEP COUNTER: 15";
                        updateTotal();
                    } else if (element.value == "blue") {
                        mission02 = 20;
                        document.getElementById('m02').innerHTML = "M02 - STEP COUNTER: 20";
                        updateTotal();
                    } else if (element.value == "none") {
                        mission02 = 0;
                        document.getElementById('m02').innerHTML = "M02 - STEP COUNTER: 0";
                        updateTotal();
                    }
                } else if (id == 04) {
                    if ($('#ans04').val() == "Yes") {
                        mission03 = 5;
                        document.getElementById('m03').innerHTML = "M03 - SLIDE: 5";
                        document.getElementById('y05').disabled = false;
                        document.getElementById('n05').disabled = false;
                        document.getElementById('y06').disabled = false;
                        document.getElementById('n06').disabled = false;
                        document.getElementById('y07').disabled = false;
                        document.getElementById('n07').disabled = false;
                        updateTotal()
                    } else if ($('#ans04').val() == "No") {
                        mission03 = 0;
                        document.getElementById('m03').innerHTML = "M03 - SLIDE: 0";
                        document.getElementById('y05').disabled = true;
                        document.getElementById('y05').style = "";
                        document.getElementById('n05').disabled = true;
                        document.getElementById('n05').style = "";
                        document.getElementById('y06').disabled = true;
                        document.getElementById('y06').style = "";
                        document.getElementById('n06').disabled = true;
                        document.getElementById('n06').style = "";
                        document.getElementById('y07').disabled = true;
                        document.getElementById('y07').style = "";
                        document.getElementById('n07').disabled = true;
                        document.getElementById('n07').style = "";
                        updateTotal();
                    }
                } else if (id == 05) {
                    if ($('#ans05').val() == "Yes") {
                        if (!clicked05) {
                            mission03 += 15;
                        }
                        document.getElementById('m03').innerHTML = "M03 - SLIDE: " + mission03;
                        updateTotal();
                        clicked05 = true;
                    } else if ($('#ans05').val() == "No") {
                        if (clicked05) {
                            mission03 -= 15;
                        }
                        document.getElementById('m03').innerHTML = "M03 - SLIDE: " + mission03;
                        updateTotal();
                        clicked05 = false;
                    }
                } else if (id == 06) {
                    if ($('#ans06').val() == "Yes") {
                        if (!clicked06) {
                            mission03 += 10;
                        }
                        document.getElementById('m03').innerHTML = "M03 - SLIDE: " + mission03;
                        updateTotal();
                        clicked06 = true;
                    } else {
                        if (clicked06) {
                            mission03 -= 10;
                        }
                        clicked06 = false;
                        document.getElementById('m03').innerHTML = "M03 - SLIDE: " + mission03;
                        updateTotal();
                    }
                } else if (id == 07) {
                    if ($('#ans07').val() == "Yes") {
                        if (!clicked07) {
                            mission03 += 10;
                        }
                        document.getElementById('m03').innerHTML = "M03 - SLIDE: " + mission03;
                        updateTotal();
                        clicked07 = true;
                    } else {
                        if (clicked07) {
                            mission03 -= 10;
                        }
                        clicked07 = false;
                        document.getElementById('m03').innerHTML = "M03 - SLIDE: " + mission03;
                        updateTotal();
                    }
                } else if (id == 08) {
                    if ($('#ans08').val() == "Yes") {
                        mission04p1 = 10;
                        updateTotal();
                        document.getElementById("m04").innerHTML = "M04 - BENCH: " + mission04;
                        document.getElementById("i10").disabled = false;
                        document.getElementById("x10").disabled = false;
                    } else {
                        mission04p1 = 0;
                        updateTotal();
                        document.getElementById("m04").innerHTML = "M04 - BENCH: " + mission04;
                        document.getElementById("i10").disabled = true;
                        document.getElementById("x10").disabled = true;
                        document.getElementById("i10").value = 0;
                        document.getElementById("x10").value = 0;
                    }
                } else if (id == 09) {
                    if ($('#ans09').val() == "Yes") {
                        mission04p2 = 15;
                        clicked09 = true;
                        updateTotal();
                        document.getElementById("m04").innerHTML = "M04 - BENCH: " + mission04;
                    } else {
                        mission04p2 = 0;
                        clicked09 = false;
                        updateTotal();
                        document.getElementById("m04").innerHTML = "M04 - BENCH: " + mission04;
                    }
                } else if (id == 10) {
                    if (element.value == 4) {
                        mission04blocks = 40;
                        blocksUsedfor04 = 4;
                        updateBlocks();
                        if (blocksUsedfor08 > 14) {
                            document.getElementById("i17").value = 14;
                            document.getElementById("x17").value = 14;

                            change(document.getElementById("i17"));
                        }
                        updateTotal();
                        document.getElementById("m04").innerHTML = "M04 - BENCH: " + mission04;
                    }
                    else if (element.value == 3) {
                        mission04blocks = 30;
                        blocksUsedfor04 = 3;
                        updateBlocks();
                        if (blocksUsedfor08 > 15) {
                            document.getElementById("i17").value = 15;
                            document.getElementById("x17").value = 15;

                            change(document.getElementById("i17"));
                        }
                        updateTotal();
                        document.getElementById("m04").innerHTML = "M04 - BENCH: " + mission04;
                    }
                    else if (element.value == 2) {
                        mission04blocks = 20;
                        blocksUsedfor04 = 2;
                        updateBlocks();
                        if (blocksUsedfor08 > 16) {
                            document.getElementById("i17").value = 16;
                            document.getElementById("x17").value = 16;

                            change(document.getElementById("i17"));
                        }
                        updateTotal();
                        document.getElementById("m04").innerHTML = "M04 - BENCH: " + mission04;
                    }
                    else if (element.value == 1) {
                        mission04blocks = 10;
                        blocksUsedfor04 = 1;
                        updateBlocks();
                        if (blocksUsedfor08 > 17) {
                            document.getElementById("i17").value = 17;
                            document.getElementById("x17").value = 17;

                            change(document.getElementById("i17"));
                        }
                        updateTotal();
                        document.getElementById("m04").innerHTML = "M04 - BENCH: " + mission04;
                    }
                    else if (element.value == 0) {
                        mission04blocks = 0;
                        blocksUsedfor04 = 0;
                        updateBlocks();
                        if (blocksUsedfor08 > 18) {
                            document.getElementById("i17").value = 18;
                            document.getElementById("x17").value = 18;

                            change(document.getElementById("i17"));
                        }
                        mission04 += mission04blocks;
                        updateTotal();
                        document.getElementById("m04").innerHTML = "M04 - BENCH: " + mission04;
                    }
                  } else if (id == 11) {
                    if ($('#ans11').val() == "Yes") {
                        mission05p1 = 15;
                        updateTotal();
                        document.getElementById("m05").innerHTML = "M05 - BASKETBALL: " + mission05;
                    } else {
                        mission05p1 = 0;
                        updateTotal();
                        document.getElementById("m05").innerHTML = "M05 - BASKETBALL: " + mission05;
                    }
                } else if (id == 12) {
                    if (element.value == "middleHeight") {
                        mission05p2 = 15;
                        updateTotal();
                        document.getElementById("m05").innerHTML = "M05 - BASKETBALL: " + mission05;
                    } else if (element.value == "topHeight") {
                        mission05p2 = 25;
                        updateTotal();
                        document.getElementById("m05").innerHTML = "M05 - BASKETBALL: " + mission05;
                    } else if (element.value == "none") {
                        mission05p2 = 0;
                        updateTotal();
                        document.getElementById("m05").innerHTML = "M05 - BASKETBALL: " + mission05;
                    }
                } else if (id == 13) {
                    if ($('#ans13').val() == "Yes") {
                        mission06p1 = 15;
                        updateTotal();
                        document.getElementById("m06").innerHTML = "M06 - PULL-UP BAR: " + mission06;
                    } else {
                        mission06p1 = 0;
                        updateTotal();
                        document.getElementById("m06").innerHTML = "M06 - PULL-UP BAR: " + mission06;
                    }
                } else if (id == 14) {
                    if ($('#ans14').val() == "Yes") {
                        mission06p2 = 30;
                        updateTotal();
                        document.getElementById("m06").innerHTML = "M06 - PULL-UP BAR: " + mission06;
                    } else {
                        mission06p2 = 0;
                        updateTotal();
                        document.getElementById("m06").innerHTML = "M06 - PULL-UP BAR: " + mission06;
                    }
                } else if (id == 15) {
                    if ($('#ans15').val() == "Yes") {
                        mission07 = 10;
                        updateTotal();
                        document.getElementById("m07").innerHTML = "M07 - ROBOT DANCE: " + mission07;
                    } else {
                        mission07 = 0;
                        updateTotal();
                        document.getElementById("m07").innerHTML = "M07 - ROBOT DANCE: " + mission07;
                    }
                } else if (id == 16) {
                    if ($('#ans16').val() == "Yes") {
                        mission08p1 = 25;
                        updateTotal();
                        document.getElementById("m08").innerHTML = "M08 - BOCCIA: " + mission08;
                    } else {
                        mission08p1 = 0;
                        updateTotal();
                        document.getElementById("m08").innerHTML = "M08 - BOCCIA: " + mission08;
                    }
                } else if (id == 17) {
                    if (element.value == 18) {
                        mission08blocks = 90;
                        blocksUsedfor08 = 18;
                        updateBlocks();
                        if (blocksUsedfor04 > 0) {
                            document.getElementById("i10").value = 0;
                            document.getElementById("x10").value = 0;

                            change(document.getElementById("i10"));
                        }
                        document.getElementById("ans18").disabled = false;
                    }
                    else if (element.value == 17) {
                        mission08blocks = 85;
                        blocksUsedfor08 = 17;
                        updateBlocks();
                        if (blocksUsedfor04 > 1) {
                            document.getElementById("i10").value = 1;
                            document.getElementById("x10").value = 1;

                            change(document.getElementById("i10"));
                        }
                        document.getElementById("ans18").disabled = false;
                    }
                    else if (element.value == 16) {
                        mission08blocks = 80;
                        blocksUsedfor08 = 16;
                        updateBlocks();
                        if (blocksUsedfor04 > 2) {
                            document.getElementById("i10").value = 2;
                            document.getElementById("x10").value = 2;

                            change(document.getElementById("i10"));
                        }
                        document.getElementById("ans18").disabled = false;
                    }
                    else if (element.value == 15) {
                        mission08blocks = 75;
                        blocksUsedfor08 = 15;
                        updateBlocks();
                        if (blocksUsedfor04 > 3) {
                            document.getElementById("i10").value = 3;
                            document.getElementById("x10").value = 3;

                            change(document.getElementById("i10"));
                        }
                        document.getElementById("ans18").disabled = false;
                    }
                    else if (element.value == 14) {
                        mission08blocks = 70;
                        blocksUsedfor08 = 14;
                        updateBlocks();
                        if (blocksUsedfor04 > 4) {
                            document.getElementById("i10").value = 4;
                            document.getElementById("x10").value = 4;

                            change(document.getElementById("i10"));
                        }
                        document.getElementById("ans18").disabled = false;
                    }
                    else if (element.value == 13) {
                        mission08blocks = 65;
                        document.getElementById("ans18").disabled = false;
                    }
                    else if (element.value == 12) {
                        mission08blocks = 60;
                        document.getElementById("ans18").disabled = false;
                    }
                    else if (element.value == 11) {
                        mission08blocks = 55;
                        document.getElementById("ans18").disabled = false;
                    }
                    else if (element.value == 10) {
                        mission08blocks = 50;
                        document.getElementById("ans18").disabled = false;
                    }
                    else if (element.value == 9) {
                        mission08blocks = 45;
                        document.getElementById("ans18").disabled = false;
                    }
                    else if (element.value == 8) {
                        mission08blocks = 40;
                        document.getElementById("ans18").disabled = false;
                    }
                    else if (element.value == 7) {
                        mission08blocks = 35;
                        document.getElementById("ans18").disabled = false;
                    }
                    else if (element.value == 6) {
                        mission08blocks = 30;
                        document.getElementById("ans18").disabled = false;
                    }
                    else if (element.value == 5) {
                        mission08blocks = 25;
                        document.getElementById('y18').disabled = false;
                        document.getElementById('n18').disabled = false;
                    }
                    else if (element.value == 4) {
                        mission08blocks = 20;
                        document.getElementById('y18').disabled = false;
                        document.getElementById('n18').disabled = false;
                    }
                    else if (element.value == 3) {
                        mission08blocks = 15;
                        document.getElementById('y18').disabled = false;
                        document.getElementById('n18').disabled = false;
                    }
                    else if (element.value == 2) {
                        mission08blocks = 10;
                        document.getElementById('y18').disabled = false;
                        document.getElementById('n18').disabled = false;
                    }
                    else if (element.value == 1) {
                        mission08blocks = 5;
                        document.getElementById('y18').disabled = false;
                        document.getElementById('n18').disabled = false;
                    }
                    else if (element.value == 0) {
                        mission08blocks = 0;
                        document.getElementById('y18').disabled = true;
                        document.getElementById('y18').style = "";
                        document.getElementById('n18').disabled = true;
                        document.getElementById('n18').style = "";
                    }
                    mission08 += mission08blocks;
                    updateTotal();
                    document.getElementById("m08").innerHTML = "M08 - BOCCIA: " + mission08;
                } else if (id == 18) {
                    if ($('#ans18').val() == "Yes") {
                        mission08p3 = 10;
                        updateTotal();
                        document.getElementById("m08").innerHTML = "M08 - BOCCIA: " + mission08;
                    } else {
                        mission08p3 = 0;
                        updateTotal();
                        document.getElementById("m08").innerHTML = "M08 - BOCCIA: " + mission08;
                    }
                } else if (id == 19) {
                    if ($('#ans19').val() == "Yes") {
                        mission09p1 = 10;
                        updateTotal();
                        document.getElementById("m09").innerHTML = "M09 - TIRE FLIP: " + mission09;
                        if (mission09p2 == 15) {
                            document.getElementById('i22').max = 2;
                            document.getElementById('x22').max = 2;
                        } else {
                            document.getElementById('i22').max = 1;
                            document.getElementById('x22').max = 1;
                        }
                        document.getElementById('i22').disabled = false;
                        document.getElementById('x22').disabled = false;
                    } else {
                        mission09p1 = 0;
                        updateTotal();
                        document.getElementById("m09").innerHTML = "M09 - TIRE FLIP: " + mission09;
                        if (mission09p2 == 15) {
                            document.getElementById('i22').max = 1;
                            document.getElementById('x22').max = 1;
                        } else {
                            document.getElementById('i22').disabled = true;
                            document.getElementById('x22').disabled = true;
                        }
                    }
                } else if (id == 20) {
                    if ($('#ans20').val() == "Yes") {
                        mission09p2 = 15;
                        updateTotal();
                        document.getElementById("m09").innerHTML = "M09 - TIRE FLIP: " + mission09;
                        document.getElementById('i22').disabled = false;
                        document.getElementById('x22').disabled = false;
                        if (mission09p1 == 10) {
                            document.getElementById('i22').max = 2;
                            document.getElementById('x22').max = 2;
                        } else {
                            document.getElementById('i22').max = 1;
                            document.getElementById('x22').max = 1;
                        }
                    } else {
                        mission09p2 = 0;
                        updateTotal();
                        document.getElementById("m09").innerHTML = "M09 - TIRE FLIP: " + mission09;
                        document.getElementById('i22').value = 0;
                        document.getElementById('x22').value = 0;
                        document.getElementById('i22').max = 1;
                        document.getElementById('x22').max = 1;
                        if (mission09p1 == 10) {
                            document.getElementById('i22').max = 1;
                            document.getElementById('x22').max = 1;
                        } else {
                            document.getElementById('i22').disabled = true;
                            document.getElementById('x22').disabled = true;
                        }
                    }
                } else if (id == 22) {
                    if (element.value == 2) {
                        mission09p3 = 10;
                        updateTotal();
                        document.getElementById("m09").innerHTML = "M09 - TIRE FLIP: " + mission09;
                    } else if (element.value == 1) {
                        mission09p3 = 5;
                        updateTotal();
                        document.getElementById("m09").innerHTML = "M09 - TIRE FLIP: " + mission09;
                    } else if (element.value == 0) {
                        mission09p3 = 0;
                        updateTotal();
                        document.getElementById("m09").innerHTML = "M09 - TIRE FLIP: " + mission09;
                    }
                } else if (id == 23) {
                    if ($('#ans23').val() == "Yes") {
                        mission10 = 15;
                        updateTotal();
                        document.getElementById("m10").innerHTML = "M10 - CELL PHONE: " + mission10;
                    } else {
                        mission10 = 0;
                        updateTotal();
                        document.getElementById("m10").innerHTML = "M10 - CELL PHONE: " + mission10;
                    }
                } else if (id == 24 ) {
                    if (element.value == "gray") {
                        mission11 = 5;
                        updateTotal();
                        document.getElementById("m11").innerHTML = "M11 - TREADMILL: " + mission11;
                    } else if (element.value == "red") {
                        mission11 = 10;
                        updateTotal();
                        document.getElementById("m11").innerHTML = "M11 - TREADMILL: " + mission11;
                    } else if (element.value == "orange") {
                        mission11 = 15;
                        updateTotal();
                        document.getElementById("m11").innerHTML = "M11 - TREADMILL: " + mission11;
                    } else if (element.value == "yellow") {
                        mission11 = 20;
                        updateTotal();
                        document.getElementById("m11").innerHTML = "M11 - TREADMILL: " + mission11;
                    } else if (element.value == "green") {
                        mission11 = 25;
                        updateTotal();
                        document.getElementById("m11").innerHTML = "M11 - TREADMILL: " + mission11;
                    } else if (element.value == "dark_green") {
                        mission11 = 30;
                        updateTotal();
                        document.getElementById("m11").innerHTML = "M11 - TREADMILL: " + mission11;
                    } else if (element.value == "none") {
                        mission11 = 0;
                        updateTotal();
                        document.getElementById("m11").innerHTML = "M11 - TREADMILL: " + mission11;
                    }
                } else if (id == 25) {
                    if ($('#ans25').val() == "Yes") {
                        mission12p1 = 15;
                        updateTotal();
                        document.getElementById("m12").innerHTML = "M12 - ROW MACHINE: " + mission12;
                        document.getElementById('y26').disabled = false;
                        document.getElementById('n26').disabled = false;
                    } else {
                        mission12p1 = 0;
                        updateTotal();
                        document.getElementById("m12").innerHTML = "M12 - ROW MACHINE: " + mission12;
                        document.getElementById('y26').disabled = true;
                        document.getElementById('y26').style = "";
                        document.getElementById('n26').disabled = true;
                        document.getElementById('n26').style = "";
                    }
                } else if (id == 26) {
                    if ($('#ans26').val() == "Yes") {
                        mission12p2 = 15;
                        updateTotal();
                        document.getElementById("m12").innerHTML = "M12 - ROW MACHINE: " + mission12;
                    } else {
                        mission12p2 = 0;
                        updateTotal();
                        document.getElementById("m12").innerHTML = "M12 - ROW MACHINE: " + mission12;
                    }
                } else if (id == 27) {
                    if (element.value == "blue") {
                        mission13 = 10;
                        updateTotal();
                        document.getElementById("m13").innerHTML = "M13 - WEIGHT MACHINE: " + mission13;
                    } else if (element.value == "magenta") {
                        mission13 = 15;
                        updateTotal();
                        document.getElementById("m13").innerHTML = "M13 - WEIGHT MACHINE: " + mission13;
                    } else if (element.value == "yellow") {
                        mission13 = 20;
                        updateTotal();
                        document.getElementById("m13").innerHTML = "M13 - WEIGHT MACHINE: " + mission13;
                    } else if (element.value == "none") {
                        mission13 = 0;
                        updateTotal();
                        document.getElementById("m13").innerHTML = "M13 - WEIGHT MACHINE: " + mission13;
                    }
                } else if (id == 28) {
                    if (element.value == 8) {
                        mission14p1 = 40;
                        updateTotal();
                        totalUnits28 = 8;
                        updateTotalUnits();
                        if (totalUnits29 > 0) {
                            document.getElementById("i29").value = 0;
                            document.getElementById("x29").value = 0;
                            change(document.getElementById("i29"))
                        }
                        document.getElementById("m14").innerHTML = "M14 - HEALTH UNITS: " + mission14;
                    } else if (element.value == 7) {
                        mission14p1 = 35;
                        updateTotal();
                        totalUnits28 = 7;
                        updateTotalUnits();
                        if (totalUnits29 > 1) {
                            document.getElementById("i29").value = 1;
                            document.getElementById("x29").value = 1;
                            change(document.getElementById("i29"))
                        }
                        document.getElementById("m14").innerHTML = "M14 - HEALTH UNITS: " + mission14;
                    } else if (element.value == 6) {
                        mission14p1 = 30;
                        updateTotal();
                        totalUnits28 = 6;
                        updateTotalUnits();
                        if (totalUnits29 > 2) {
                            document.getElementById("i29").value = 2;
                            document.getElementById("x29").value = 2;

                            change(document.getElementById("i29"))
                        }
                        document.getElementById("m14").innerHTML = "M14 - HEALTH UNITS: " + mission14;
                    } else if (element.value == 5) {
                        mission14p1 = 25;
                        updateTotal();
                        totalUnits28 = 5;
                        updateTotalUnits();
                        if (totalUnits29 > 3) {
                            document.getElementById("i29").value = 3;
                            document.getElementById("x29").value = 3;

                            change(document.getElementById("i29"))
                        }
                        document.getElementById("m14").innerHTML = "M14 - HEALTH UNITS: " + mission14;
                    } else if (element.value == 4) {
                        mission14p1 = 20;
                        updateTotal();
                        document.getElementById("m14").innerHTML = "M14 - HEALTH UNITS: " + mission14;
                    } else if (element.value == 3) {
                        mission14p1 = 15;
                        updateTotal();
                        document.getElementById("m14").innerHTML = "M14 - HEALTH UNITS: " + mission14;
                    } else if (element.value == 2) {
                        mission14p1 = 10;
                        updateTotal();
                        document.getElementById("m14").innerHTML = "M14 - HEALTH UNITS: " + mission14;
                    } else if (element.value == 1) {
                        mission14p1 = 5;
                        updateTotal();
                        document.getElementById("m14").innerHTML = "M14 - HEALTH UNITS: " + mission14;
                    } else if (element.value == 0) {
                        mission14p1 = 0;
                        updateTotal();
                        document.getElementById("m14").innerHTML = "M14 - HEALTH UNITS: " + mission14;
                    }
                } else if (id == 29) {
                    if (element.value == 4) {
                        mission14p2 = 40;
                        updateTotal();
                        totalUnits29 = 4;
                        updateTotalUnits();
                        if (totalUnits28 > 4) {
                            document.getElementById("i28").value = 4;
                            document.getElementById("x28").value = 4;

                            change(document.getElementById("i28"))
                        }
                        document.getElementById("m14").innerHTML = "M14 - HEALTH UNITS: " + mission14;
                    } else if (element.value == 3) {
                        mission14p2 = 30;
                        updateTotal();
                        totalUnits29 = 3;
                        updateTotalUnits();
                        if (totalUnits28 > 5) {
                            document.getElementById("i28").value = 5;
                            document.getElementById("x28").value = 5;

                            change(document.getElementById("i28"));
                        }
                        document.getElementById("m14").innerHTML = "M14 - HEALTH UNITS: " + mission14;
                    } else if (element.value == 2) {
                        mission14p2 = 20;
                        updateTotal();
                        totalUnits29 = 2;
                        updateTotalUnits();
                        if (totalUnits28 > 6) {
                            document.getElementById("i28").value = 6;
                            document.getElementById("x28").value = 6;

                            change(document.getElementById("i28"));
                        }
                        updateTotalUnits();
                        document.getElementById("m14").innerHTML = "M14 - HEALTH UNITS: " + mission14;
                    } else if (element.value == 1) {
                        mission14p2 = 10;
                        updateTotal();
                        totalUnits29 = 1;
                        updateTotalUnits();
                        if (totalUnits28 > 7) {
                            document.getElementById("i28").value = 7;
                            document.getElementById("x28").value = 7;

                            change(document.getElementById("i28"));
                        }
                        document.getElementById("m14").innerHTML = "M14 - HEALTH UNITS: " + mission14;
                    } else if (element.value == 0) {
                        mission14p2 = 0;
                        updateTotal();
                        totalUnits29 = 0;
                        updateTotalUnits();
                        document.getElementById("m14").innerHTML = "M14 - HEALTH UNITS: " + mission14;
                    }
                } else if (id == 30) {
                    if (element.value == 6) {
                        mission15 = 60;
                        document.getElementById("m15").innerHTML = "M15 - PRECISION TOKENS: " + mission15;
                        updateTotal();
                    } else if (element.value == 5) {
                        mission15 = 45;
                        document.getElementById("m15").innerHTML = "M15 - PRECISION TOKENS: " + mission15;
                        updateTotal();
                    } else if (element.value == 4) {
                        mission15 = 30;
                        document.getElementById("m15").innerHTML = "M15 - PRECISION TOKENS: " + mission15;
                        updateTotal();
                    } else if (element.value == 3) {
                        mission15 = 20;
                        document.getElementById("m15").innerHTML = "M15 - PRECISION TOKENS: " + mission15;
                        updateTotal();
                    } else if (element.value == 2) {
                        mission15 = 10;
                        document.getElementById("m15").innerHTML = "M15 - PRECISION TOKENS: " + mission15;
                        updateTotal();
                    } else if (element.value == 1) {
                        mission15 = 5;
                        document.getElementById("m15").innerHTML = "M15 - PRECISION TOKENS: " + mission15;
                        updateTotal();
                    } else if (element.value == 0) {
                        mission15 = 0;
                        document.getElementById("m15").innerHTML = "M15 - PRECISION TOKENS: " + mission15;
                        updateTotal();
                    }
                }
            }

            function reset() {
                $('.button1').siblings(`.button1`).css({
                    'background': 'white',
                    'color': 'black'
                });
                mission00 = 0;
                document.getElementById('m00').innerHTML = "M00 - ADVANTAGE: 0";
                mission01 = 0;
                document.getElementById('m01').innerHTML = "M01 - INNOVATION PROJECT: 0";
                mission02 = 0;
                document.getElementById('d03').value = 'none';
                document.getElementById('m02').innerHTML = "M02 - STEP COUNTER: 0";
                mission03 = 0;
                document.getElementById('m03').innerHTML = "M03 - SLIDE: 0";
                document.getElementById('y05').disabled = true;
                document.getElementById('y05').style = "";
                document.getElementById('n05').disabled = true;
                document.getElementById('n05').style = "";
                document.getElementById('y06').disabled = true;
                document.getElementById('y06').style = "";
                document.getElementById('n06').disabled = true;
                document.getElementById('n06').style = "";
                document.getElementById('y07').disabled = true;
                document.getElementById('y07').style = "";
                document.getElementById('n07').disabled = true;
                document.getElementById('n07').style = "";
                updateTotal()
                mission04p1 = 0;
                mission04p2 = 0;
                mission04blocks = 0;
                updateTotal();
                document.getElementById("m04").innerHTML = "M04 - BENCH: " + mission04;
                document.getElementById("i10").disabled = true;
                document.getElementById("i10").value = 0;
                document.getElementById("x10").value = 0;
                document.getElementById("x10").disabled = true;
                mission05p1 = 0;
                mission05p2 = 0;
                updateTotal();
                document.getElementById("m05").innerHTML = "M05 - BASKETBALL: " + mission05;
                document.getElementById("d12").value = "none";
                mission06p1 = 0;
                mission06p2 = 0;
                updateTotal();
                document.getElementById("m06").innerHTML = "M06 - PULL-UP BAR: " + mission06;
                mission07 = 0;
                updateTotal();
                document.getElementById("m07").innerHTML = "M07 - ROBOT DANCE: " + mission07;
                mission08p1 = 0;
                mission08blocks = 0;
                mission08p3 = 0;
                updateTotal();
                document.getElementById("m08").innerHTML = "M08 - BOCCIA: " + mission08;
                document.getElementById("i17").value = 0;
                document.getElementById("x17").value = 0;
                document.getElementById("y18").disabled = true;
                document.getElementById('y18').style = "";
                document.getElementById("n18").disabled = true;
                document.getElementById('n18').style = "";
                mission09p1 = 0;
                mission09p2 = 0;
                mission09p3 = 0;
                updateTotal();
                document.getElementById("m09").innerHTML = "M09 - TIRE FLIP: " + mission09;
                document.getElementById("i22").value = 0;
                document.getElementById("x22").value = 0;
                document.getElementById("i22").disabled = true;
                document.getElementById("x22").disabled = true;
                mission10 = 0;
                updateTotal();
                document.getElementById("m10").innerHTML = "M10 - CELL PHONE: " + mission10;
                mission11 = 0;
                updateTotal();
                document.getElementById("m11").innerHTML = "M11 - TREADMILL: " + mission11;
                document.getElementById("d24").value = "none";
                mission12p1 = 0;
                mission12p2 = 0;
                updateTotal();
                document.getElementById("m12").innerHTML = "M12 - ROW MACHINE: " + mission12;
                document.getElementById("y26").disabled = true;
                document.getElementById('y26').style = "";
                document.getElementById("n26").disabled = true;
                document.getElementById('n26').style = "";
                mission13 = 0;
                updateTotal();
                document.getElementById("m13").innerHTML = "M13 - WEIGHT MACHINE: " + mission13;
                document.getElementById("d27").value = "none";
                mission14p1 = 0;
                mission14p2 = 0;
                updateTotal();
                document.getElementById("m14").innerHTML = "M14 - HEALTH UNITS: " + mission14;
                document.getElementById("i28").value = 0;
                document.getElementById("x28").value = 0;
                document.getElementById("i29").value = 0;
                document.getElementById("x29").value = 0;
                mission15 = 60;
                updateTotal();
                document.getElementById("m15").innerHTML = "M15 - PRECISION TOKENS: " + mission15;
                document.getElementById("x30").value = 6;
                document.getElementById("i30").value = 6;
            }

            function updateTextInput(element) {
                $("#" + element.id).siblings().val(element.value);
                change(element);
            }

            function updateRangeInput(element) {
                $("#" + element.id).siblings().val(element.value);
                change(element);
            }
        </script>
    </body>
</html>
<!-- Designed and coded by Sathvik Malla and Mithil Patil. -->
