<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FLL RePlay Scorer</title>
    <link rel="stylesheet" href="/test.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="everything">
      <div class="timer-and-buttons">
        <div id="app"></div>
        <div class="playpause">
          <input type="checkbox" value="None" id="playpause" onchange="playpause()" name="check" />
          <label for="playpause" tabindex=1></label>
        </div>
      </div>
      <div class="scorer">
        <div class="column1">
          <div class="mission card">
            <h1 class="name">M00 - EQUIPMENT INSPECTION BONUS</h1>
            <div class="card-body">
              <p>Does all team equipment fit in the small inspection space?</p>
              <div class="buttons-container">
                <input type="text" id="ans01" class="answer" hidden/>
                <input type="button" id="y01" class="button button1" value="Yes" />
                <input type="button" id="n01" class="button button1" value="No" />
              </div>
            </div>
            <h1 class="points">Points: 0</h1>
          </div>
          <div class="mission card">
            <h1 class="name">M01 - INNOVATION PROJECT</h1>
            <div class="card-body">
              <p>The innovation project is large enough (2+ white LEGO pieces and 4+ LEGO studs long)</p>
              <div class="buttons-container">
              </div>
            </div>
            <h1 class="points">Points: 0</h1>
          </div>
        </div>
        <div class="column2">

        </div>
        <div class="column3">

        </div>
      </div>
    </div>

    <div class="footer">
      <p>Points: 0</p>
      <button onclick="reset()" class="button">Reset</button>
    </div>
    <script src="/test.js" charset="utf-8"></script>
  </body>
</html>
